@charset "utf-8";

/* Libraries site styles */

#libheader-container {
	font-size: 100%; 
	font-family: Helvetica, Arial, sans-serif; 
	line-height: 1.231;
	width: 100%; 
	margin-bottom: 1em; 
	height: 2.7em; 
	padding: 0 0 .3em;
	background-color: #03314b;
	background-image: url('http://findit.library.gwu.edu/static/img/bg-local-nav-bottom.png');
	background-position: bottom;
	background-width: 100%;
	background-repeat: repeat-x;
}


#libheader-container p, li {
	line-height: 1.125em; /* 18px; */
	font-size: .814em; /* 14px; */
	color: #333;
}

#libheader-container h1, h2 {
	font-size: 1.25em; /* 20px; */
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	font-weight: normal;
	line-height: 1.5em; /* 24px; */
	letter-spacing: -1px;
	text-shadow: 0px 1px 1px #ccc;
}

#libheader-container h3 {
	font-size: 1em; /* 16px; */
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	font-weight: normal;
	line-height: 1.25em; /* 20px; */
}

#libheader-container h4 {
	font-size: .75em; /* 12px; */
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	font-weight: bold;
	line-height: 1em; /* 16px; */
}

#libheader-container a img {
	text-decoration: none;
	border: 0 none;
	}

/* to force images to scale (responsive) -- optional */
#libheader-container img, object, embed {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

#libheader {
	width: 100%;
	max-width: 940px; 
	min-width: 320px; /* change to 720px if removing responsive or the IE stylesheet */
	margin: 0 auto 0; 
	height: 2.5em; 
	color: #fff; 
	padding: 0; 
	white-space: nowrap; 
	overflow: hidden;
}

#libheader a {color:#fff; text-decoration:none;}
#libheader a:visited {color:#fff;}
#libheader a:hover {color:#fff; text-decoration:underline;} 

.libheader-link {float:left; font-size:.9em; padding-top:.6em; margin-left:1em;}
.libheader-liblink {float:left; font-size: 1.5em; padding-top:.3em; margin-right:2em; margin-left:.5em;}
.libheader-logo {float:right; overflow:hidden; margin-right:.5em;}
.libfooter-text {margin: 0 .5em; font-size:.7em; padding-top:.75em; overflow:hidden;}

.bullet {float:left; padding:.6em 0 0 .75em; color:#fff;}

#libfooter-container {
	width: 100%; 
	height: 2.5em; 
	background-color: #03314b;
	font-size: 100%; 
	font-family: Helvetica, Arial, sans-serif; 
	line-height: 1.231;
}

#libfooter {
	width: 100%;
	max-width: 940px;
	min-width: 320px; /* change to 720px if removing responsive or the IE stylesheet */
	margin: 1em auto 0; 
	font-size: 1.3em;
	color: #fff; 
	padding: 0; 
	white-space: nowrap; 
	overflow: hidden;
}

#libfooter a {color:#fff; text-decoration:none;}
#libfooter a:visited {color:#fff;}
#libfooter a:hover {color:#fff; text-decoration:underline;} 

/* responsive class to drop the gw logo when window is 720px or below (mobile-first)  */
@media screen and (max-width: 720px) {
  .hide-lo {display:none; visibility:hidden;}
}

/* this is set at 721 to leave room for links, adjust as needed if your links are shorter/longer */
@media screen and (min-width: 721px) {
	.hide-lo {
		display: block;
		visibility: visible;  
	}
}