/* site specific css */

h1 {
    font-size: xx-large;
}

p {
    font-size: large;
}

article {
    padding-top: 80px;
    padding-bottom: 60px;
}
@media screen and (max-width:970px) {
    article {
        padding-top: inherit;
        padding-bottom: inherit;
    }
}

.chart rect {
    fill: steelblue;
    stroke: white;
}
.rule {
    font-size: small;
}

/* tweaks to libheader7_lite.css */

#libheader {
    padding: .2em 0 0;
    min-height: auto;
}

.libheader-liblink {
    /*width: 200px;*/
    padding-top: 0;
    font-size: 1.6em;
}

/* ie8 tests */

#libheader-container {
	width: 100%;
	margin-bottom: 1em;
	height: 2em;
	padding: 0 0 .3em;
    background-color: #005581 !important;
	background-image: url(img/bg-local-nav-bottom.png) !important;
	background-position: bottom;
	background-repeat: repeat-x;
}

/* end test */

@media screen and (max-width:850px) {
    .hide-med {
        display: none;
        visibility: hidden;
    }
}

/* tweaks to libheader7_lite_ie.css */

#libheader {min-width:960px;}

#libfooter {min-width:960px;}

/* tweaks to bootstrap */

.navbar-search {
    margin-top: .125em; /* from .2em */
}

#libheader-container.navbar-inner {
}